@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  /* font-family: 'Inter', sans-serif; */
  /* font-family: "Comfortaa", sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Ubuntu", sans-serif; */
  /* font-family: "Work Sans", sans-serif; */
  /* font-family: "Quicksand", sans-serif; */
  /* font-family: "Manrope", sans-serif; */
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  will-change: background-color, color;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #f4f4f4;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f4f4f4;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
